/* Empty. Add your own CSS if you like */

.info-popup img.pet {
    /* float: right; */
    height: 200px;
    border-radius: 20px;
    padding: 10px;
}

.info-popup img.arrow {
    width: 100%;
}

.info-popup .vote-and-pet {
    max-width: auto;
    width: 500px;
}

.info-popup .sidebar {
    max-width: auto;
    width: 65px;
    float: left;
    padding: 9px;
}

.info-popup center.popularity {
  font-size: 25px;
}

.info-popup .description p {
    float: right;
}

#map {
  display: block;
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.incidentReportForm {
    position:absolute;
    left:10px;
    top: 50px;
    z-index:3;
}

.incidentReportFormLabel {
  min-width: 300px;
}

.mainLogo {
  height:auto; 
  width:auto; 
  max-width:300px; 
  max-height:45px;
}

.signInWindow {
  max-width: 300px;
  max-height: 320px;
}

.signUpWindow {
  height: 420px;
  max-width: 400px;
}

.forgotPasswordWindow {
  max-height: 180px;
  max-width: 320px;
}

.profileWindow {
  height: 425px;
  max-width: 320px;
}


